body {
  margin: 0;
}
.text-success {
  color: #11b410;
}
.text-danger {
  color: #d83451;
}
.text-center {
  text-align: center;
}
.help-block {
  font-size: 12px;
  color: #999;
  word-break: break-all;
}
a:hover {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.api-view .api-menu {
  height: auto;
  max-height: 100%;
}
.api-view table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.checkbox {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.checkbox .fa {
  display: inline-block;
  width: 18px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  color: #777;
  margin-right: 4px;
}
.checkbox.checked .fa {
  color: #11b410;
}
.checkbox.disabled .fa {
  color: #aaa;
  cursor: not-allowed;
}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
*:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.22);
}
.scrollbar-h::-webkit-scrollbar {
  height: 12px;
}
.scrollbar-h::-webkit-scrollbar-thumb {
  border-radius: 6px;
}
.scrollbar-v-xs::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-v-xs::-webkit-scrollbar-corner,
.scrollbar-v-xs::-webkit-scrollbar-track {
  background: #fff;
}
.scrollbar-v-xs::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.padding-0 {
  padding: 0;
}
.padding-top-0 {
  padding-top: 0;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-left-0 {
  padding-left: 0;
}
.padding-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.padding-h-0 {
  padding-left: 0;
  padding-right: 0;
}
.padding-lg {
  padding: 24px;
}
.padding-top-lg {
  padding-top: 24px;
}
.padding-right-lg {
  padding-right: 24px;
}
.padding-bottom-lg {
  padding-bottom: 24px;
}
.padding-left-lg {
  padding-left: 24px;
}
.padding-v-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}
.padding-h-lg {
  padding-left: 24px;
  padding-right: 24px;
}
.padding-sm {
  padding: 10px;
}
.padding-top-sm {
  padding-top: 10px;
}
.padding-right-sm {
  padding-right: 10px;
}
.padding-bottom-sm {
  padding-bottom: 10px;
}
.padding-left-sm {
  padding-left: 10px;
}
.padding-v-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-h-sm {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-xs {
  padding: 5px;
}
.padding-top-xs {
  padding-top: 5px;
}
.padding-right-xs {
  padding-right: 5px;
}
.padding-bottom-xs {
  padding-bottom: 5px;
}
.padding-left-xs {
  padding-left: 5px;
}
.padding-v-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-h-xs {
  padding-left: 5px;
  padding-right: 5px;
}
.padding {
  padding: 16px;
}
.padding-top {
  padding-top: 16px;
}
.padding-right {
  padding-right: 16px;
}
.padding-bottom {
  padding-bottom: 16px;
}
.padding-left {
  padding-left: 16px;
}
.padding-v {
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding-h {
  padding-left: 16px;
  padding-right: 16px;
}
.padding-left-auto {
  padding-left: auto;
}
.padding-right-auto {
  padding-right: auto;
}
.padding-h-auto {
  padding-left: auto;
  padding-right: auto;
}
.api-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.api-view :target {
  display: block;
  position: relative;
  top: 0;
  visibility: visible;
}
.api-info-wrapper {
  color: #444;
  padding-left: 18px;
  overflow: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.api-info-wrapper .boolean,
.api-info-wrapper .bool {
  color: #d83451;
}
.api-info-wrapper .number {
  color: #049cdb;
}
.api-info-wrapper .string {
  color: #11b410;
}
.api-info-wrapper .title-left-border {
  border-left: 3px solid #049cdb;
  color: #049cdb;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 10px;
}
.api-info-wrapper .field-display {
  padding: 10px 0;
}
.api-info-wrapper .title {
  font-size: 26px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.api-info-wrapper .desc {
  font-size: 14px;
  color: #777;
}
.api-info-wrapper .base-info {
  padding-bottom: 15px;
}
.api-info-wrapper .base-info .mark {
  background-color: #fff;
  padding: .2em 0;
}
.api-info-wrapper .base-info.sub-info .title {
  font-size: 18px;
}
.api-info-wrapper .api-title-panel,
.api-info-wrapper .api-module-panel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.api-info-wrapper .api-title-panel .panel-left,
.api-info-wrapper .api-module-panel .panel-left {
  padding-right: 10px;
  width: 70%;
}
.api-info-wrapper .api-title-panel .panel-right,
.api-info-wrapper .api-module-panel .panel-right {
  width: 30%;
  min-width: 250px;
  background-color: #333;
  color: #fff;
}
.api-info-wrapper .api-title-panel.empty-panel,
.api-info-wrapper .api-module-panel.empty-panel {
  flex: 1;
}
.api-info-wrapper .api-description .panel-left,
.api-info-wrapper .api-group .panel-left,
.api-info-wrapper .api-route .panel-left,
.api-info-wrapper .api-codes .panel-left,
.api-info-wrapper .api-title-panel .panel-left,
.api-info-wrapper .api-object .panel-left,
.api-info-wrapper .api-tuple .panel-left {
  padding: 18px 10px 18px 0;
}
.api-route .stability {
  color: #f89a08;
}
.api-route .since {
  padding-left: 5px;
}
.api-route .state {
  color: #11b410;
  padding-left: 5px;
}
.api-route .method-path {
  padding-bottom: 16px;
  padding-left: 6px;
}
.response-case,
.request-case,
.model-case {
  margin-top: 30px;
  margin-bottom: 30px;
}
.response-case .model-case-title,
.request-case .model-case-title,
.model-case .model-case-title {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.response-case .case-data-panel,
.request-case .case-data-panel,
.model-case .case-data-panel {
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  background-color: #222;
  overflow-x: auto;
  text-align: left;
  padding: 5px;
}
.response-case .case-data-panel::-webkit-scrollbar,
.request-case .case-data-panel::-webkit-scrollbar,
.model-case .case-data-panel::-webkit-scrollbar {
  width: 4px;
}
.response-case .case-data-panel::-webkit-scrollbar-corner,
.request-case .case-data-panel::-webkit-scrollbar-corner,
.model-case .case-data-panel::-webkit-scrollbar-corner,
.response-case .case-data-panel::-webkit-scrollbar-track,
.request-case .case-data-panel::-webkit-scrollbar-track,
.model-case .case-data-panel::-webkit-scrollbar-track {
  background: #fff;
}
.response-case .case-data-panel::-webkit-scrollbar-thumb,
.request-case .case-data-panel::-webkit-scrollbar-thumb,
.model-case .case-data-panel::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.response-case .tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
}
.response-case .tabs i {
  font-size: 12px;
  padding-right: 5px;
}
.response-case .tabs .tab {
  padding: 5px;
  cursor: pointer;
}
.api-menu {
  background-color: #f3f7f9;
  padding-left: 10px;
  width: 200px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #eee;
}
.api-menu .display-flex {
  display: flex;
}
.api-menu .flex {
  flex: 1;
}
.api-menu .menu .icon {
  font-size: 20px;
  color: #888;
  line-height: 40px;
}
.api-menu .menu .fa-angle-down {
  display: none;
  cursor: pointer;
}
.api-menu .menu .fa-angle-right {
  cursor: pointer;
}
.api-menu .menu.active .fa-angle-down {
  display: inline-block;
}
.api-menu .menu.active .fa-angle-right {
  display: none;
}
.api-menu .menu.active .sub {
  display: flex;
}
.api-menu .group {
  display: block;
  font-weight: bolder;
}
.api-menu .sub {
  display: none;
  font-weight: 300;
}
.api-menu .group,
.api-menu .sub {
  flex-direction: row;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  color: #444;
}
.api-menu a.sub {
  padding-left: 16px;
}
.field-display .list {
  display: flex;
}
.field-display .list .list-left-border {
  width: 10px;
  border-left: 1px #aaa solid;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.field-display .list .list-items {
  flex: 1;
}
.field-display .list .item {
  margin: 2px 5px;
  flex: 1;
  display: flex;
}
.field-display .list .item:last-child .item-options {
  border-bottom: none;
}
.field-display .list .item .item-title {
  width: 100px;
}
.field-display .list .item .item-options {
  flex: 1;
  border-bottom: 1px #ddd solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 28px;
  color: #777;
}
.field-display .list .item .item-options .type {
  color: #aaa;
  padding-right: 10px;
}
.case-data-display {
  margin: 0 10px;
}
.case-data-display .json-panel ul {
  list-style-type: none;
}
.case-data-display .json-panel .colon {
  padding: 0 3px;
}
.case-data-display .json-panel .obj {
  padding-left: 10px;
}
.case-data-display .field-children {
  display: flex;
  position: relative;
  margin-left: 10px;
}
.case-data-display .field-children .toggle-show,
.case-data-display .field-children .toggle-hide {
  position: absolute;
  left: -10px;
  top: 0;
}
.case-data-display .field-children .toggle-show:after {
  content: "-";
  cursor: pointer;
}
.case-data-display .field-children .toggle-hide:after {
  content: "+";
  cursor: pointer;
}
.case-data-display .field-children .field-children-value {
  display: flex;
  flex-direction: column;
}
.case-data-display .field-children .field-children-value.open {
  display: block;
}
.case-data-display .field-children .case-data-display .field {
  display: flex;
  flex-wrap: nowrap;
}
.case-data-display .field-children .case-data-display .field .value {
  white-space: nowrap;
}
.object-scope-display .title {
  font-size: 16px;
  padding: 16px 0;
}
.object-scope-display .scope-table-panel {
  overflow-x: auto;
  text-align: center;
}
.object-scope-display .scope-table-panel th,
.object-scope-display .scope-table-panel td {
  min-width: 50px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #eaeaea;
  padding: 5px;
}
.object-scope-display .scope-title {
  line-height: 38px;
}
.route-method-display {
  text-align: left;
  display: flex;
  margin: 30px 10px;
}
.route-method-display .method {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.route-method-display .path {
  background-color: #222;
  padding: 10px 5px;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-x: auto;
}
/*# sourceMappingURL=style.css.map */